---
layout: default
---

<article>

	<h1 class="title">{{ page.title }}</h1>

	<div class="divider"></div>

	{{ content }}

</article>

<div class="page-navigation">	
	<a class="home" href="https://github.com/ucanozyurteri" target="_blank" title="Go to Github">Github</a>
	<a>&nbsp;|&nbsp;</a>
	<a class="home" href="#" target="_blank" title="Go to LinkedIn">LinkedIn</a>
	<a>&nbsp;|&nbsp;</a>
	<a class="home" href="https://www.facebook.com/ucanozyurteri" target="_blank" title="Go to Facebook">Facebook</a>
	<a>&nbsp;|&nbsp;</a>
	<a class="home" href="https://twitter.com/ucanozyurteri" target="_blank" title="Go to Twitter">Twitter</a>
</div>
